body{
	margin:0%;
}

#logo{
height:5%;
}

ul.nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li.nav-bar-item1{
  float: left;
  padding-left: 0.5%;
}

li.nav-bar-item{
  float: right;
  width:7%
}

li.nav-bar-item a.nav-bar-link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li.nav-bar-item a.nav-bar-link:hover {
  background-color: #333;
}

li.nav-bar-item1 a.nav-bar-link {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li.nav-bar-item1 a.nav-bar-link:hover {
  background-color: #333;
}


li.nav-bar-item1 a.nav-bar-link #logo:hover {
  background-color: #333;
}